* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include playfair_display();
  font-size: 16px;
  color: $mainTextColor;
  @include tablets {
    font-size: 15px;
  }
  @include phones {
    font-size: 14px;
  }
}

//todo: разобраться, чтобы при большом списе с футером и фоном все было хорошо (возможно флексы убрать)