//mixin fonts

@mixin  gagalin() {
  font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
}

@mixin lifehack() {
  font-family: 'Lifehack-Medium', Helvetiva, sans-serif;
}

@mixin ubuntu ($style: normal) {
  font-family: 'Ubuntu', Helvetiva, sans-serif;

  @if $style == regular {
    font-weight: normal;
  }

  @if $style == light {
    font-weight: 300;
  }

  @if $style == medium {
    font-weight: 500;
  }

  @if $style == bold {
    font-weight: bold;
  }
}

//breakpoints

@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

//functions
@function rem($px){
  @return $px / 16px + 0rem
}