/*Background colors*/
$mainColor: #e4f1ff;
$secondColor: #d96442;
$thirdColor: #0c0e1e;

/*Text colors*/
$mainTextColor: #0c0e1e;
$secondTextColor: #109618;
$titleTextColor: #3e9eff;

/*Other Colors*/


/*Monitor rez*/
$desktop: 1200px;
$tablets: 768px;
$phones: 480px;