/*Background colors*/
$mainBgColor: #ffffff;
$secondBgColor: #fbfbfb;
$thirdBgColor: #f6f6f6;

/*Text colors*/
$mainTextColor: #797979;
$secondTextColor: #ffffff;
$titleTextColor: #3c3c3c;

/*Other Colors*/


/*Monitor rez*/
$smallDesktop: 1200px;
$tablets: 768px;
$phones: 480px;