/*Background colors*/
$mainColor: #0f1c22;
$secondColor: #d96442;
$thirdColor: #853e28;

/*Text colors*/
$mainTextColor: #ffffff;
$secondTextColor: #109618;
$titleTextColor: #ff704c;

/*Other Colors*/


/*Monitor rez*/
$smallDesktop: 1200px;
$tablets: 768px;
$phones: 480px;